*{
    margin: 0;
    padding: 0;
}

body{
    background: #ff6e41;
}

h3,p{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 24px;
    font-weight: 300;
}



.certificates{
    font-size: 14px;
}

.content-wrapper{
    width: 80%;
    height: 90vh;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.text-holder{
    display: none;
}

.image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;
}

.head-image,.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 260px;
}

.head-image{
    z-index: 0;
}

.circle{
    z-index: 2;
    pointer-events: none;
}

.front{
    z-index: 1;
}

.widget{
    padding: 30px 60px;
    position: relative;
    top: 0;
}

.info{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    background: white;
    color: black;
    z-index: 2;
}
.info2{
    position: absolute;
    top: 0;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background: white;
    color: black;
    z-index: 2;
}

.info{
    font-size: 20px;
    margin-bottom: 3px;
}
.info{
    font-size: 16px;
}
.name{
    padding-left: 25px;
}

.role{
    padding-right: 15px;
}
.role{
    cursor: pointer;
    background: #f4b61c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 100%;
    color: white;
    font-size: 40px;
}

.title{
    font-family: "Helvetica";
    width: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moreInfo{
    z-index: 5;
}

.desc{
    padding: 40px;
    font-size: 14px;
}