*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3,p{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 24px;
    font-weight: 300;
}

.certificates{
    font-size: 14px;
}

.content-wrapper{
    width: 80%;
    height: 90vh;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.text-holder{
    display: none;
}

.image-holder{
    position: relative;
    margin: 0 auto 20px auto;
    width: 260px;
    height: 260px;
    -webkit-box-shadow: 5px 7px 11px 0px grey;
            box-shadow: 5px 7px 11px 0px grey;    
}

.head-image,.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 260px;
}

.head-image{
    z-index: 0;
}

.circle{
    z-index: 2;
    pointer-events: none;
}

.front{
    z-index: 1;
}

.widget{
    padding: 30px 60px;
    position: relative;
    top: 0;
}

.info{
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 15%;
    background: white;
    color: black;
    z-index: 2;
    font-size: 16px;    
}
.info2{
    position: absolute;
    top: 0;
    opacity: .8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 85%;
    background: white;
    color: black;
    z-index: 2;
}

.name{
    padding-left: 25px;
}

.role{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35px;
    height: 30px;
    color: #ff6e41;
    font-size: 30px;  
    -webkit-animation: spin .25s normal forwards ease-in-out, blink 1s linear infinite;  
            animation: spin .25s normal forwards ease-in-out, blink 1s linear infinite; 
}

.antirole{
    background: transparent; 
    color: #ff6e41;
    -webkit-animation: antispin .25s normal forwards ease-in-out;
            animation: antispin .25s normal forwards ease-in-out;

}

/* Animations */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
        color: red;
        font-weight: bold;
        font-size: 40px;
    }
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
        color: red;
        font-weight: bold;
        font-size: 40px;
    }
    to {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        
    }
}

@-webkit-keyframes antispin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
        color: red;
        font-weight: bold;
        font-size: 40px;
    }
}

@keyframes antispin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(315deg);
                transform: rotate(315deg);
        color: red;
        font-weight: bold;
        font-size: 40px;
    }
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.4;
    }
}

@keyframes blink {
    50% {
        opacity: 0.4;
    }
}

.title{
    font-family: "Helvetica";
    width: 100%;
    font-size: 20px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.desc{
    padding: 40px;
    font-size: 14px;
}